#Contrast Agent API connectivity details
CONTRAST__API__URL=https://app.contrastsecurity.com/Contrast
CONTRAST__API__USER_NAME=agent_feed_code@Demo
CONTRAST__API__SERVICE_KEY=AAAAAABBBBBBB
CONTRAST__API__API_KEY=CCCCCCCCDDDDDDDDD

#Optional but recommended parameter to enable route discovery; only use if your JVM hosts one application
CONTRAST__AGENT__JAVA__STANDALONE_APP_NAME=WebGoat

#Set to false or comment out if you do not want Contrast logging in your stdout
CONTRAST__AGENT__LOGGER__STDOUT=true

#Variable the JVM looks at to pick-up startup options
JAVA_TOOL_OPTIONS=-javaagent:/opt/contrast/contrast.jar
